/*---Basic Styles---*/
*{
    box-sizing: border-box;
    /* border-style: solid;
    border-color: black; */
}

body{
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
    color: #000;
    margin: 0; 
}

/*Container*/
.main-header {
    height: 10%;
    display: flex;
    flex-direction: row;
}
.main-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto; 
}

.banner, 
.section, 
.main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.banner {
    background-color: lightsteelblue;
}

.section-box {
    padding: 2px;
}
.main-footer {
    margin-bottom: 10px;
}
.section-expand {
    display: none;
}

/*Objects*/
.name, 
.slash, 
.logo,
.menu {
    align-self: center;
}
.name {
    margin-left: 10px;
}
.slash {
    margin-left: 2px;
}
.menu {
    margin-right: 10px;
    margin-left: auto;
}

.main-nav li{
    list-style-type: none;
    margin: 1em; 
}

.headline {
    text-align: center;
    flex-grow: 1; 
}
.section-headline {
    margin: 20px 0px 0px;
    text-align: center;
}


.section-box li{
    text-align: center;
    list-style: none;
    flex: 1; 
    padding: 7px 20% 20%;
    margin: 5px;
    background-color: lightgray;
    align-self: center;
}

.action {
    padding: 4px 7px;
    background-color: powderblue;
    text-align: center;
    align-self: center;
}





/*---Media Queries---*/
@media(max-width: 500px){
    .section-box{
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
    .under-box {
        margin-top: 0px;
    }
    #article {
        margin-top: 0px; 
    }

}
@media (max-width: 799px){
    .main-nav{
        display: none;
    }
}
@media(min-width: 500px) {
    .section-box{
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }
    .top-box, 
    .under-box {
        display: flex; 
        flex-direction: row;
    }

}
@media(min-width: 800px) and (max-width: 1200px){
    .main-nav li{
        align-self: flex-end;
    } 
    .menu {
        display: none;
    }
}
@media(min-width: 1200px) {
    .section-box li{
        width: 550px; 
        height: 200px;
    }
    .top-box, 
    .under-box {
        margin: 0px 50px 0px; 
    }
}
